{% extends 'root.html' %}
{% block content %}
<div class="container-xxl bg-primary page-header">
    <div class="container text-center">
        <h1 class="text-white animated zoomIn mb-3">病理切片(校內價)</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a class="text-white" href="{% url 'index' %}">Home</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">病理切片(校內價)</a></li>
                <!--<li class="breadcrumb-item text-white active" aria-current="page">Contact</li>-->
            </ol>
        </nav>
    </div>
</div>
</div>
{% load static %}
{% endblock content  %} 