{% extends 'root.html' %}
{% load static %}
{% block content %}
<div class="container-xxl bg-primary page-header">
    <div class="container text-center">
        <h1 class="text-white animated zoomIn mb-3">血液血清檔案</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a class="text-white" href="{% url 'index' %}">Home</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">血液血清檔案</a></li>
                <!--<li class="breadcrumb-item text-white active" aria-current="page">Contact</li>-->
            </ol>
        </nav>
    </div>
</div>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<div class="table-responsive " id="form_table">
				<table class="table user-list">
					<thead>
						<tr>
							<th><span>編號</span></th>
							<th><span>日期</span></th>
							<th class="text-center"><span>繳費</span></th>
							<th><span>實驗室負責人</span></th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
                        {% for sc in SCs %}
						<tr>
							<td>
								<span class="user-link display-left">{{ sc.scid }}</span>
							</td>
							<td>
								{{sc.date}}
							</td>
                            {% if sc.pay == True %}
							<td class="text-center">
								<span class="label label-default">已繳費</span>
							</td>
                            {% else %}
                            <td class="text-center">
								<span class="label label-default">未繳費</span>
							</td>
                            {% endif %}
                            <td>
								<a href="#">{{ sc.pi.pi }}</a>
							</td>
							<td style="width: 20%;">
								<a href="#" class="table-link">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
									</span>
								</a>
								<button  class="table-link update-but"  data-formtype="SC" data-id="{{ sc.id }}">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
									</span>
								</button>
								<button  class="table-link danger delete-but" data-formtype="SC" data-id="{{ sc.id }}">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-trash-o fa-stack-1x fa-inverse" ></i>
									</span>
								</button>
							</td>
						</tr>
                        {% endfor %}	
					</tbody>
				</table>
			</div>
			<ul class="pagination pull-right">
				<li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
			</ul>
		</div>
	</div>
</div>
</div>

{% load static %}
{% endblock content  %} 